body {
    margin: 0px;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

#loader { /* loading gif when ajax starts */
    position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; 
      z-index: 3000;
  }

/* reusable styles */

.light_sec_button { /* login button, info button, scrollby buttons */
    border: 1.5px solid rgb(141, 141, 251); 
    color: rgb(141, 141, 251); 
    outline: none;
    border-radius: 4px;
    padding: 10px;
}

#scrolla {
    display: flex;
}

#scrolla button {
    outline: none;
    border: none;
    background-color: transparent;
    height: max-content;
    margin: auto;
}


#scrolla button img {
    width: 30px;
    opacity: 0.3
}

#scrolla button img:hover {
    opacity: 1;
}

#leftA {
    display: flex;
    flex-direction: column;
}

#leftA img {
    width: 250px;
    margin: auto;
    border-radius: 4px;
}

.light_pri_button { /* register button, add button */
    border: none;
    outline: none;
    background-color: rgb(141, 141, 251);
    color: white;
    border-radius: 4px;
    padding: 10px;
}

.light_war_button { /* checkout button */
    background-color: rgb(255, 134, 134);
    color: white;
}

.font_offwhite { /* follow, stack a, checkout button */
    color: rgb(235, 235, 235);
}

.font_blue {
    color: rgb(255, 134, 134);
}

.light_back { /* cartbox, product_wrapper, bucket */
    background-color: white;
}


/* reusable styles END */

#navi {
    display: flex;
    flex-direction: row;
    height: 45px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
}

#navi a {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

#login_register {
    margin-right: 10px;
    margin-left: auto;
    align-self: center;
    display: flex;
}

#cart {
    border: none;
    outline: none;
    border-radius: 2%;
    cursor: pointer;
}

#cart_options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cart_options > button {
    outline: none;
    border: none;
    background-color: transparent;
}

.del {
    width: 20px !important;
    height: 20px !important;
}

#register {
    background-color: rgb(141, 141, 251);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    opacity: 0.6;
    padding: 4px;
    outline: none;
}

#register:hover {
    opacity: 1;
}

#main_content {
    position: relative;
    display: flex;
    flex-direction: row;
}

#login {
    background-color: transparent;
    border: 1.5px solid rgb(141, 141, 251);
    border-radius: 4px;
    color: rgb(141, 141, 251);
    cursor: pointer;
    opacity: 0.6;
    margin-right: 10px;
    padding: 4px;
    outline: none;
}

#login:hover {
    opacity: 1;
}

#navi button > img {
    width: 30px;
}

img#down_button {
    display: none;
}

#dropdown {
    width: 100%;
    position: absolute;
    top: 45px;
    background-color: whitesmoke;
    display: none;
}

#cartbox { /* the box that drop downs when you click on the cart icon */
    background-color: white;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    max-height: 400px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom-left-radius: 4px;
}

#cart_header {
    text-align: center;
}


#cart_item {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 15px 3px;
    padding: 5px;
    border-bottom: 1px solid rgb(190, 189, 189);
    border-top: 1px solid rgb(190, 189, 189);
}

#cart_item img {
    width: 70px;
    height: 70px;
}

#checkout { /* Checkout button in the cart box */
    padding: 10px;
    background-color: rgb(255, 134, 134);
    color: white;
    width: 50%;
    margin: 10px auto;
    border-radius: 4px;
    font-size: 20px;
}

#send_message {
    width: fit-content;
    margin: auto;
}

#send_message button {
    width: 150px;
    align-self: center;
}

#hero {
    background-image: url("../img/hero/hero.jpg");
    height: 520px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom {
    margin: 40px auto 0px auto!important;
}

#wrapper { /* products get rendered inside of this div */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 88%;
    margin-left: auto;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 40px;
}

.container {
    position: relative;
    display: none;
    width: 45%!important;
    height: 80vh;
    margin: auto;
  }

.container img {
    width: 100%;
    height: 100%;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 250px;
    height: 250px;
  }

.closebtn {
    position: absolute;
    top: 10px;
    right: -50px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

#A {
    display: flex;
    flex: 1;
    padding: 10px;
}

#B {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 30px;
}

#C {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.product_wrapper {
    -webkit-box-shadow: 0px 0px 15px -9px #939393; 
    box-shadow: 0px 0px 15px -9px #939393;
    padding: 10px;
    width: 350px;
    margin: 10px;
    background-color: white;
    border-radius: 1%;
}

#to_top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.6;
    transition: 0.5s;
    z-index: 1111;
}

#to_top:hover {
    opacity: 1;
    transform: scale(1.2);
}

#show_more_body img {
    width: 100%;
}

.product_wrapper > img {
    width: 250px;
    height: 250px;
}

.product_wrapper p {
    z-index: 1005;
    position: relative;
    color: rgb(90, 90, 90);
    max-height: 36px;
    font-size: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    vertical-align: bottom;
}

.buttons button {
    margin: auto 5px;
    padding: 10px;
}

.info {
    background-color: transparent;
    color: rgb(141, 141, 251);
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.6;
}

.info:focus {
    outline: none;
}

#logo {
    width: 100px;
}

.info:hover {
    opacity: 1;
}

#roll {
    transition: ease-in-out;
    position: absolute;
    left: 80px;
    opacity: 0;
}

#roll img {
    height: 50px;
    width: 50px;
}

@keyframes move_down {
    0% {transform: translate(0px, 20px); opacity: 1;}
    90% {opacity: 1;}
    100% {transform: translate(0px, 320px); opacity: 0;}
}

.add {
    background-color: rgb(141, 141, 251);
    border: none;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    opacity: 0.6;
    width: 102px;
    outline: none;
}

.add:focus {
    outline: none;
}

.add:hover {
    opacity: 1;
}

#price {
    font-size: 30px;
    font-weight: 700;
    color: green;
}

#select_categ { /* side bar form */
    width: max-content;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.selector { /* divs that contain all the sidebar content */
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.selector button {
    color: rgb(97, 97, 97);
}

.selector > h4 {
    text-align: center;
    color: #a3a3fd;
}

#B h3 {
    color: #8a8aff; 
}

#C h3 {
    color: #8a8aff; 
}

.featured b {
    color: #a3a3fd;
}

.bucket h4{
    color: rgb(97, 97, 97);
}

.bucket:hover {
    transform: scale(1.1);
}

.selector button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0px;
}

#signed {
    display: flex;
}

#signed p { /* signed in user name */
    margin-top: revert;
}

.selector button:hover {
    background-color: rgb(194, 222, 255);
    color: black;
}

.selector button:focus {
    outline: 1px solid rgb(138, 138, 255);
}

.choose {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.selector hr {
    width: 80%;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}

.selector img {
    width: 40px;
    width: 40px;
}

.featured {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.scroll { /* Horizontal scrollable images on the landing page */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 320px;
}

.scrollby {
    display: flex;
    justify-content: center;
}

.scrollby button {
    padding: 10px;
    margin: 0 10px;
    background-color: transparent;
    border: 1.5px solid rgb(141, 141, 251);
    border-radius: 5%;
    color: rgb(141, 141, 251);
    cursor: pointer;

}

.categ {
    width: 100%;
    height: fit-content;
    display: block;
    font-size: 25px;
}

.bucket { /* divs that contain the products in the scroll div */
    position: relative;
    text-align: center;
    font-size: 10px;
    height: 300px;
    margin: 10px 30px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -9px #939393; 
    box-shadow: 0px 0px 15px -9px #939393;
    border-radius: 2%;
    transition: transform 0.5s;
}

.bucket img {
    max-height: 230px;
}

#header {
    display: flex;
    font-size: 18px;
    background-image: url("../img/hero/footer_header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px;
}

#header h1 {
    flex: 3;
    color: rgb(94, 150, 255);
}

.m1 {
    width: 70%;
    margin: 60px auto 40px auto;
}

#header > div {
    flex: 1;
    height: 100%;
    margin: auto;
    text-align: center;
}

#header > div button {
    padding: 15px;
    width: 150px;
    border: 1.5px solid rgb(103, 123, 211);
    background-color: transparent;
    color: rgb(103, 123, 211);
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#footy_header {
    display: flex;
    justify-content: space-evenly;
    padding:10px;
    background-color: rgb(233, 233, 233);
}


#footy_header img {
    height: 30px;
    margin-right: 5px;
}

#footy_header a {
    color: white;
}

#footy { /* footer */
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-image: url("../img/hero/footer_header1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.teamWrap {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teamWrap col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 400px;
}

.teamWrap .col img {
    border-radius: 50%;
    width: 100%;
    height: 300px;
}

.teamWrap .col p {
    text-align: center;
}

.aboutUs {
    width: 80%;
    margin: 40px auto;
}

.aboutUs h1 {
    margin-bottom: 25px;
}

.aboutUs p {
    margin-bottom: 40px;
}

#trading pre{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
}

#B pre {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
    color: rgb(117, 117, 117);
}

#B p {
    color: rgb(117, 117, 117); 
}

#C label {
    color: rgb(87, 87, 87); 
}

#maps {
    border-radius: 4px;
}

#follow {
    margin: 0px auto;
    font-size: 30px;
    font-weight: 700;
    color: rgb(235, 235, 235);
}

#stack {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    display: flex;
    flex: 1;
}

#send {
    width: max-content;
    margin: 10px 0 auto auto;
}

#footer_bottom {
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    justify-content: center;
}

#footer_bottom p {
    color: #8a8a8a;
}

#footer_bottom > * {
    margin: auto 10px;
}

#footer_bottom img {
    width: 40px;
}


#num_items {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    outline: none;
    border-radius: 50%;
    font-size: small;
    border: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .bucket {
        margin: 10px 20px;
    }

    .gallery_image_Wrapper {
        width: 30%;
    }
    
    .gallery_image_Wrapper img {
        height: 280px;
    }

 }

 @media screen and (max-width: 650px) {
    .bucket {
        margin: 10px 10px;
    }

    #footy {
        flex-direction: column;
    }

    #branch_info {
        display: flex;
        flex-direction: column;
        
    }

    #B {
        flex-direction: row;
        padding: 10px 30px;
        justify-content: space-between;
    }

  }
  
 @media screen and (max-width: 600px) {
    #select_categ {
        display: block;
        background-color: white!important;
        z-index: 2000;
    }

    .selector {
        background-color: white;
        margin: 0px;
        width: 100%;
        flex-direction: row;
    }

    #main_content {
        display: block;
    }

    #selec_categ button {
        background-color: white;
    }

    #wrapper {
        margin-left: 0px;
        width: 100%;
    }

    .featured {
        width: 100%;
    }

    .product_wrapper {
        width: 45%;
    }

    .product_wrapper img {
        margin: 5px;
        width: 80%;
        height: 50%;
    }
  }

  @media screen and (max-width: 500px) {

    #dropdown {
    height: max-content;
    display: flex;
    flex-direction: column;
    }

    img#logo {
        display: none;
    }

    img#down_button {
        display: flex;
        width: 25px;
        height: 30px;
        margin-left: 15px;
        align-self: center;
    }

    a#ab1 {
        display:none;
    }
    a#ab2 {
        display:none;
    }

    .bucket {
        width: 200px;
        height: 220px;
    }

    .bucket img {
        max-height: 160px;
    }

    .bucket h4 {
        max-height: 28px;
        font-size: 16px;
    }

    .product_wrapper {
        height: 380px;
    }

  }

  @media screen and (max-width: 425px) {
    #header h1 {
        font-size: 25px;
    }

    .container {
        width: 80%!important;
    }

    .img-magnifier-glass {
        width: 100px;
        height: 100px;
    }

    .gallery_image_Wrapper {
        width: 25%;
    }
    
    .gallery_image_Wrapper img {
        height: 180px;
    }

    .product_wrapper img {
        height: 70%;
    }

    .product_wrapper {
        width: 80%;
    }

    .m1 {
        width: 90%;
        margin: 60px auto 40px auto;
    }
  }

  @media screen and (max-width: 390px) {
    #B {
        padding: 10px 13px;
    }

    .gallery_image_Wrapper {
        width: 42%;
    }
    
    .gallery_image_Wrapper img {
        height: 190px;
    }

    .m1 {
        width: 95%;
        margin: 60px auto 40px auto;
    }
  }