body {
    margin: 0px;
    height: 100%;
}

aside {
    position: absolute;
    left: 0;
    width: max-content;
    height: 99vh;
    border: 1px solid rgb(192, 192, 192);
}

#navi {
    display: flex;
    flex-direction: row;
    height: 45px;
    border: 1px solid grey;
}

#navi button {
    margin-left: auto;
    background-color: rgb(255, 151, 151);
    border: none;
    outline: none;
    border-radius: 2%;
    cursor: pointer;
}

#navi button > img {
    width: 30px;
}

#wrapper { /* products get rendered inside of this div */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 83%;
    margin-left: auto;
    justify-content: space-evenly;

}

.product_wrapper {
    width: 350px;
    margin: 10px;
    border: 1px solid grey;
}

.product_wrapper > img {
    width: 250px;
    height: 250px;
}

#select_categ { /* side bar form */
    display: flex;
    flex-direction: column;
    width: max-content;
}

.selector { /* divs that contain all the sidebar content */
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: row;
}

.selector button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0px;
}

.choose {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.choose hr {
    width: 80%;
    opacity: 0.2;
}

.selector img {
    width: 40px;
    width: 40px;
}

.scroll { /* Horizontal scrollable images on the landing page */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 85%;
    height: 300px;
    margin: 30px auto;
}

.scroll > b {
    font-size: 25px;
}

.bucket { /* divs that contain the products in the scroll div */
    position: relative;
    text-align: center;
    height: 80%;
    font-size: 10px;
    margin: 10px;
}

.bucket img {
    max-height: 230px;
}

#footy { /* footer */
    display: flex;
    flex-direction: row;
    border: 2px solid purple;
}

#left {
    border: 1px solid green;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#maps {
    border-radius: 2%;
}

#follow {
    margin: 0px auto;
    font-size: larger;
    font-weight: 700;
}

#stack {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#stack a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#stack img {
    width: 40px;
    margin-right: 20px;
}

#payment_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#payment_icons img {
    width: 40px;
}

#right {
    border: 1px solid red;
    flex: 1;
}
